.content-container {
    margin: 0 auto;
    text-align: center;
    padding-top: 15vh;
    position: relative;
    }

#home {
    max-width: 4%;
    position: absolute;
    top: 4%;
    left: 5%;
}

#volume {
	padding: 1vh;
	border-color: #594B36;
	border-width: 2px;
	border-radius: 1vh;
	color: white;
	background-color: #594B36;
	position: absolute;
	top: 3%;
	right: 3%;
}

button {
	font: italic 1vh "inter", sans-serif;
}

body {
    background-image: url(../images/background2.png);
    background-size: cover;
}

.title {
    color: #594B36;
    font-family: "Inter", sans-serif;
    font-size: 10vh;
    margin: 0;
}

p {
    color: #594B36;
    font: italic 500 4vh "Inter", sans-serif;
    margin: 2vh 40vh;
}

h2{
    margin-top: 7vh;
}


h2 a {
    text-decoration: none;
    font: 400 5vh "Inter", sans-serif;
    color: #FBF2E5;
    background-color: #594B36;
    padding: 1.5vh 9vw;
    border-radius: 100vh;
}

@media screen and (width <= 1170px) {
    .content-container {
        margin: 0 auto;
        text-align: center;
        padding-top: 15vh;
        position: relative;
        }

    #home {
        max-width: 4%;
        position: absolute;
        top: 4%;
        left: 5%;
    }

    body {
        background-image: url(../images/background2.png);
    }

    .title {
        color: #594B36;
        font-family: "Inter", sans-serif;
        font-size: 10vh;
        margin: 0;
    }

    p {
        color: #594B36;
        font: italic 500 4vh "Inter", sans-serif;
        margin: 2vh 5vh;
    }

    h2{
        margin-top: 7vh;
    }


    h2 a {
        text-decoration: none;
        font: 400 5vh "Inter", sans-serif;
        color: #FBF2E5;
        background-color: #594B36;
        padding: 1.5vh 9vw;
        border-radius: 100vh;
    }
}

@media screen and (width <= 834px) {
    .content-container {
		margin: 0 auto;
		max-width: 768px;
		text-align: center;
		padding-top: 15vh;
        position: relative;
		}

    #home {
        max-width: 7%;
        position: absolute;
        top: 4%;
        left: 2%;
    }

	body {
		background-image: url(../images/background2.png);
    }

    .title {
		color: #594B36;
		font-family: "Inter", sans-serif;
		font-size: 8vh;
		margin: 0 20vh;
        line-height: 7vh;
	}

    p {
		color: #594B36;
		font: italic 500 3vh "Inter", sans-serif;
		margin: 3vh 10vh;
	}

    h2{
        margin-top: 5vh;
    }

    
    h2 a {
        text-decoration: none;
		font: 400 4vh "Inter", sans-serif;
		color: #FBF2E5;
		background-color: #594B36;
		padding: 1.5vh 9vw;
		border-radius: 100vh;
	}   
}

@media screen and (width <= 320px) {
    .content-container {
		margin: 0 auto;
		max-width: 768px;
		text-align: center;
		padding-top: 15vh;
        position: relative;
		}

    #home {
        max-width: 12%;
        position: absolute;
        top: 4%;
        left: 7%;
    }

	body {
		background-image: url(../images/background2.png);
    }

    .title {
		color: #594B36;
		font-family: "Inter", sans-serif;
		font-size: 5vh;
		margin: 0;
	}

    p {
		color: #594B36;
		font: italic 500 2vh "Inter", sans-serif;
		margin: 2vh 4vh;
	}

    h2{
        margin-top: 5vh;
    }


    h2 a {
        text-decoration: none;
		font: 400 3vh "Inter", sans-serif;
		color: #FBF2E5;
		background-color: #594B36;
		padding: 1.5vh 13vw;
		border-radius: 100vh;
	}

}